<body>
    <style type="text/css">
        input{border-radius: 4px;}
    </style>
    <div class="demo-content">
        <!-- 此节点内部的内容会在弹出框内显示,默认隐藏此节点-->
        <form action="{:U('IOS/edit')}" class="form-horizontal" id="J_Form" method="post">
            <input name="table" type="hidden" value="events"/>
            <input name="eventType" type="hidden" value="2"/>
            <input type="hidden" value="{:I('id',0,'trim')}" name="id"/>

            <div class="row">
                <div class="control-group span8">
                    <label class="control-label">
                        推广活动名称：
                    </label>
                    <div class="controls">
                        <input class="input-normal control-text" value="{$info.events_name}" data-rules="{required:true}" name="events_name" type="text">
                        </input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span8">
                    <label class="control-label">
                        推广活动组名称：
                    </label>
                    <div class="controls">
                        <select data-rules="{required:true}" id="events_groupId" name="events_groupId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span8">
                    <label class="control-label">
                        游戏名称：
                    </label>
                    <div class="controls">
                        <select data-rules="{required:true}" id="agents" name="agent">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span8">
                    <label class="control-label">
                        推广活动渠道商：
                    </label>
                    <div class="controls">
                        <select data-rules="{required:true}" id="advteruserId" name="advteruser_id">
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="control-group span14">
                    <label class="control-label">
                        苹果下载链接：
                    </label>
                    <div class="controls">
                        <input type="text" name="apple_link" class="input-large control-text" data-rules="{required:true}" value="{$info.apple_link}" />
                    </div>
                </div>
            </div>

        </form>
    </div>
    <!-- script start -->
    <script type="text/javascript">
        $(function(){
      gameList();
      advteruserId();
      groupList();
    });

    //获取游戏
    function gameList(){
        var _html = '';
        $.post("{:U('Ajax/getAgent')}",{gameType:2},function(ret){
            var ret = eval('('+ret+')');
            $(ret).each(function(i,v){
                if(v.agent == '{$info.agent}'){
                    _html += "<option value="+v.agent+" selected>"+v.agentAll+"</option>";
                }else{
                    _html += "<option value="+v.agent+">"+v.agentAll+"</option>";
                }
            });
            $('#agents').html(_html);
            $('#agents').comboSelect();
        });
    }

    //获取广告商
    function advteruserId(){
        var _html = '';
        $.post("{:U('Ajax/adv_company')}",'',function(ret){
            var ret = eval('('+ret+')');
            $(ret).each(function(i,v){
                if(v.id == {$info.advteruser_id}){
                    _html += "<option value="+v.id+" selected>"+v.company_name+"</option>";
                }else{
                    _html += "<option value="+v.id+">"+v.company_name+"</option>";
                }
            });
            $('#advteruserId').html(_html);
            $('#advteruserId').comboSelect();
        });
    }
    //获取推广组
    function groupList(){
        var _html = '<option value="0">请选择推广组</option>';
        $.post("{:U('Ajax/getEventGroup')}",'',function(ret){
            var ret = eval('('+ret+')');
            $(ret).each(function(i,v){
                if(v.id == '{$info.events_groupId}'){
                    _html += "<option value="+v.id+" selected>"+v.groupName+"</option>";
                }else{
                    _html += "<option value="+v.id+">"+v.groupName+"</option>";
                }
            });
            $('#events_groupId').html(_html);
            $('#events_groupId').comboSelect();
        });
    }

    BUI.use(['bui/overlay','bui/form'],function(Overlay,Form){
    
      var form = new Form.HForm({
        srcNode : '#J_Form'
      }).render();
 
      var dialog = new Overlay.Dialog({
            title:'编辑-落地页推广活动',
            width:500,
            height:250,
            //配置DOM容器的编号
            contentId:'content',
            success:function () {
              $('#J_Form').submit();
            }
          });
        dialog.show();
      });
    </script>
    <!-- script end -->
</body>
