<div class="demo-content">
    <!-- 此节点内部的内容会在弹出框内显示,默认隐藏此节点-->
    <form id="J_Form" class="form-horizontal" method="post" style="height: 400px; overflow-y: auto; overflow-x: hidden;" action="{:U('Game/updateAgent')}">
        <div class="row">
            <div class="control-group span12">
                <label class="control-label">批量渠道号：</label>
                <div class="controls">
                    <input name="prefix" type="text" value="" style="width: 80px;" class="input-normal control-text" />&nbsp;&nbsp;<input name="first" type="text" value="" style="width: 30px;" class="input-normal control-text" />&nbsp;-&nbsp;<input name="last" type="text" value="" style="width: 30px;" class="input-normal control-text" />&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">例子：qyj 001-999</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label">设备类型：</label>
                <div class="controls">
                    <select name="type" id="type">
                        <option value="1">安卓</option>
                        <option value="2">IOS</option>
                        <option value="0">其他</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label">版本号：</label>
                <div class="controls">
                    <input name="ver" type="text" value="" class="input-normal control-text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span15">
                <label class="control-label">更新提示：</label>
                <div class="controls">
                    <input name="content" type="text" value="" style="width: 250px;" class="input-normal control-text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span15">
                <label class="control-label">开启时间：</label>
                <div class="controls">
                    <input type="text" id="startTime" value="{:date('Y-m-d H:00:00')}" class="calendar calendar-time" name="startTime"/>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">存储时会自动取整点</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span15">
                <label class="control-label">关闭时间：</label>
                <div class="controls">
                    <input type="text" id="endTime" value="{:date('Y-m-d H:00:00', strtotime('+1 year'))}" class="calendar calendar-time" name="endTime"/>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">存储时会自动取整点</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label">更新类型：</label>
                <div class="controls">
                    <select name="update" id="update">
                        <option value="0">选更</option>
                        <option value="1">强更</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label">更新状态：</label>
                <div class="controls">
                    <input type="radio" name="status" value="0" checked />&nbsp;&nbsp;<img src="__IMG__/toggle_enabled.gif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="status" value="1" />&nbsp;&nbsp;<img src="__IMG__/toggle_disabled.gif">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span15">
                <label class="control-label">下载地址：</label>
                <div class="controls">
                    默认识别
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span15">
                <label class="control-label">备注：</label>
                <div class="controls">
                    <input name="ext" type="text" value="" style="width: 250px;" class="input-normal control-text">
                </div>
            </div>
        </div>
    </form>
</div>

<!-- script start -->
<script type="text/javascript">
    BUI.use(["bui/overlay", "bui/form"], function (Overlay, Form) {
        var form = new Form.HForm({
            srcNode: "#J_Form"
        }).render();

        var dialog = new Overlay.Dialog({
            title: "批量添加渠道号更新",
            width: 500,
            height: 450,
            //配置DOM容器的编号
            contentId: "content",
            success: function () {
                $("#J_Form").submit();
            }
        });
        dialog.show();
    });
</script>
<!-- script end -->