<body>
  <style type="text/css">
    input{border-radius: 4px;}
  </style>
  <div class="demo-content">
    <!-- 此节点内部的内容会在弹出框内显示,默认隐藏此节点-->
    <form id="J_Form" class="form-horizontal" method="post" action="{:U('Advter/edit')}">
        <input type="hidden" value="{:I('id',0,'trim')}" name="id"/>
        <input type="hidden" value="proxy" name="table"/>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">代理商名称：</label>
            <div class="controls">
              <input name="proxyName" type="text" value="{$info.proxyName}" data-rules="{required:true}" class="input-normal control-text">
            </div>
          </div>
        </div>

      </form>
  </div>
    
 
 
<!-- script start --> 
    <script type="text/javascript">
        BUI.use(['bui/overlay','bui/form'],function(Overlay,Form){
    
      var form = new Form.HForm({
        srcNode : '#J_Form'
      }).render();
 
      var dialog = new Overlay.Dialog({
            title:'编辑-{$info.proxyName}',
            width:400,
            height:100,
            //配置DOM容器的编号
            contentId:'content',
            success:function () {
              $('#J_Form').submit();
            }
          });
        dialog.show();
      });
    </script>
<!-- script end -->
  </div>
</body>
</html>
