<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>指标列表</title>
    <link href="__CSS__/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/page-min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__CSS__/combo.select.css" type="text/css">
    <script type="text/javascript" src="__JS__/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="__JS__/bui.js"></script>
    <script type="text/javascript" src="__JS__/jquery.combo.select.js"></script>
    <script type="text/javascript" src="__JS__/config.js"></script>
</head>
 <body>
  <!-- 搜索区 -->
  <div class="container">
    <div class="row">
      <form id="searchForm" class="form-horizontal span48">
        <div class="row">
          <div class="control-group span10">
            <label class="control-label">月份：</label>
            <div class="controls">
              <input type="text" id="startMonth" class="calendar" name="startMonth" /> - <input type="text" id="endMonth" class="calendar" name="endMonth" />
            </div>
          </div>

          <div class="control-group span8">
            <label class="control-label">负责人：</label>
            <div class="controls">
              <select name="principalId" id="principal_id"></select>
            </div>
          </div>

          <div class="control-group span8">
            <label class="control-label">游戏：</label>
            <div class="controls">
              <select name="gameId" id="game_id"></select>
            </div>
          </div>

          <div class="control-group span4">
            <div class="controls">
              <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="search-grid-container">
      <div id="grid"></div>
    </div>

  </div>

  <!-- 弹窗 -->
  <div id="content" class="hide">
     
  </div>

  <script type="text/javascript">
    BUI.use('common/page');
  </script>

<script type="text/javascript">
$(function() {
  //数据加载
  principal();
  gameLists();

  //获取负责人
  function principal() {
    var _html = '<option value=0>--全部--</option>';
    $.post("{:U('Ajax/principals')}", '', function(ret) {
      var ret = eval('(' + ret + ')');
      $(ret).each(function(i, v) {
        _html += "<option value=" + v.id + ">" + v.name + "</option>";
      });
      $('#principal_id').html(_html);
      $('#principal_id').comboSelect();
    });
  }

  //获取游戏
  function gameLists() {
    var _html = '';
    $.post("{:U('Ajax/getGameList')}", {
      all: 1
    }, function(ret) {
      var ret = eval('(' + ret + ')');
      $(ret).each(function(i, v) {
        _html += "<option value=" + v.id + ">" + v.gameName + "</option>";
      });
      $('#game_id').html(_html);
      $('#game_id').comboSelect();
    });
  }

});


BUI.use(['common/search', 'bui/calendar'], function(Search,Calendar) {

  // var enumObj = {"1":"禁用","0":"正常"},
  editing = new BUI.Grid.Plugins.DialogEditing({
      contentId: 'content', //设置隐藏的Dialog内容
      autoSave: true, //添加数据或者修改数据时，自动保存
      triggerCls: 'btn-edit'
    }),
    columns = [{
      title: '月份',
      dataIndex: 'TargetMonth',
      width: 100,
      elCls: 'center'
    }, {
      title: '月份指标',
      dataIndex: 'monthTarget',
      width: 100,
      elCls: 'center'
    }, {
      title: '负责人',
      dataIndex: 'principalName',
      width: 100,
      elCls: 'center'
    }, {
      title: '游戏',
      dataIndex: 'gameName',
      width: 100,
      elCls: 'center'
    }, {
      title: '完成总额',
      dataIndex: 'amount',
      width: 100,
      elCls: 'center'
    }, {
      title: '完成率',
      dataIndex: 'completeRate',
      width: 100,
      elCls: 'center'
    }],
    store = Search.createStore('{:U("AdvterData/monthTarget")}?table=month_target', {
      proxy: {
        save: { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
          removeUrl: '{:U("AdvterData/delete")}?table=month_target'
        },
        method: 'POST'
      },
      autoSync: true //保存数据后，自动更新
    }),
    gridCfg = Search.createGridCfg(columns, {
      tbar: {
        items: [{
            text: '<i class="icon-plus"></i>指标录入',
            btnCls: 'button button-small opt-btn',
            handler: addFunction
          },
          // {text : '<i class="icon-remove"></i>删除广告',btnCls : 'button button-small opt-btn',handler : delFunction}
        ]
      },
      plugins: [editing, /*BUI.Grid.Plugins.CheckSelection,*/ BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
    });

  var search = new Search({
      store: store,
      gridCfg: gridCfg
    }),
    grid = search.get('grid');

  function addFunction() {
    /*var newData = {isNew : true}; //标志是新增加的记录
    editing.add(newData,'name'); //添加记录后，直接编辑*/
    $('.bui-dialog').remove();
    $.get('{:U("AdvterData/add")}', {
      table: 'month_target',
      tpl: 'monthTargetAdd'
    }, function(ret) {
      $('#content').html(ret._html);
      $('#content').show();
    });
  }

  //删除操作
  function delFunction() {
    var selections = grid.getSelection();
    delItems(selections);
  }

  function delItems(items) {
    var id = [];
    BUI.each(items, function(item) {
      id.push(item.id);
    });

    if (id.length) {
      BUI.Message.Confirm('确认要删除选中的记录么？', function(ret) {
        console.log(ret);
        store.save('remove', {
          id: id
        });
      }, 'question');
    }
  }

  //监听事件，删除一条记录
  grid.on('cellclick', function(ev) {
    var sender = $(ev.domTarget); //点击的Dom
    if (sender.hasClass('btn-del')) {
      var record = ev.record;
      delItems([record]);
    }
  });

  var datepicker1 = new Calendar.DatePicker({
    trigger: '#startMonth',
    dateMask: 'yyyy/mm/01',
    autoRender: true
  });

  var datepicker2 = new Calendar.DatePicker({
    trigger: '#endMonth',
    dateMask: 'yyyy/mm/01',
    autoRender: true
  });


});

</script>

<body>
</html>  
