<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>青云幻剑录</title>
<link href="./html/101/css/style_2014.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="./html/101/js/jquery1.8.3.js"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="./html/101/js/iepng.js"></script>
<script type="text/javascript"> 
   //png透明图
   EvPNG.fix('div, ul, h1, h3, img, li, input, a, p, span');
</script>
<![endif]-->
<style>
.jy-suggest p {
    color: #aeaeae;
    font-size: 14px;
    line-height: 1.5;
}
.jy-floot {
    width: 100%;
    height: 100px;
    margin-top:20px;
}
</style>
</head>

<body>
<div class="body pos-rel">
    <div class="wrap">
    	<div class="header">
            <h1 class="h1">青云幻剑录</h1>
            <a href="#" target="_self" title="青云幻剑录" class="logo">青云幻剑录</a>
            <ul class="nav">
                <li class="n1"><a href="#" target="_self">官网首页</a><span>HOME</span></li>
                <li class="n2"><a href="#" target="_self">游戏攻略</a><span>GUIDE</span></li>
                <li class="n3"><a href="#" target="_self">游戏礼包</a><span>GIFT</span></li>
                <li class="n4"><a href="#" target="_self">充值中心</a><span>PAY</span></li>
                <li class="n5"><a href="#" target="_self">客服中心</a><span>SERVICE CENTER </span></li>
                <li class="n6"><a href="#" target="_self">游戏论坛</a><span>BBS</span></li>
            </ul>
            <ul class="yxxzbtnwrap pos-abs">
            	<li><a href="#" class="yxxz_a db"></a>
                	<!--下载弹出层start-->
                    <div class="yxxzkuang">
                    	<div class="yxxzbtn fl">
                            <a href="#" class="xz_android db"></a>
                            <a href="#" class="xz_ios db"></a>
                            <a href="#" class="xz_pc db"></a>
                        </div>
                    </div>
                    <!--下载弹出层end-->
                </li>
            </ul>        
        </div>
        <div class="topcontentwrap">
        	<div class="topwrapdiv">
            	<div class="syfoc">
                    <div id="focus">
                        <ul>
                            <li><a href="#" target="_blank"><img src="./html/101/images/syfocpic01.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="./html/101/images/syfocpic02.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="./html/101/images/syfocpic03.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="./html/101/images/syfocpic04.png" alt="" /></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="news">
                    <a href="guanfang.html" target="_self" title="更多资讯" class="more news-more">更多+</a>
                    <ul class="news-nav">
                        <li class="on" data-newsid="guanfang"><a class="news-1">官方</a></li>
                        <li data-newsid="zixun"><a class="news-2">资讯</a></li>
                        <li data-newsid="gonglue"><a class="news-3">攻略</a></li>
                    </ul>

                    <!--官方-->
                    <ul class="news-list">
                        <li class="li01"><span class="news-date">[06-01]</span><a href="guanfang1.html" class="news-title">[官方] 交易市场</a></li>
                        <li class="li02"><span class="news-date">[06-01]</span><a href="guanfang2.html" class="news-title">[官方] 离线挂机</a></li>
                        <li class="li03"><span class="news-date">[06-01]</span><a href="guanfang3.html" class="news-title">[官方] 神兽系统</a></li>
                        <li class="li04"><span class="news-date">[06-01]</span><a href="guanfang4.html" class="news-title">[官方] 套装系统</a></li>
                        <li class="li05"><span class="news-date">[06-01]</span><a href="guanfang5.html" class="news-title">[官方] 职业系统</a></li>
                    </ul>
                    <!--资讯-->
                    <ul class="news-list hidden">
                        <li class="li01"><span class="news-date">[06-01]</span><a href="zixun1.html" class="news-title">[资讯] 你知道正确的战斗力提升方法吗？</a></li>
                        <li class="li02"><span class="news-date">[06-01]</span><a href="zixun2.html" class="news-title">[资讯] 炼器强化</a></li>
                        <li class="li03"><span class="news-date">[06-01]</span><a href="zixun3.html" class="news-title">[资讯] 四转前瞻</a></li>
                    </ul>
                    <!--攻略-->
                    <ul class="news-list hidden">
                        <li class="li01"><span class="news-date">[06-01]</span><a href="gonglue1.html" class="news-title">[攻略] BOSS系统玩法攻略</a></li>
                        <li class="li02"><span class="news-date">[06-01]</span><a href="gonglue2.html" class="news-title">[攻略] 单人副本-守护仙灵</a></li>
                        <li class="li03"><span class="news-date">[06-01]</span><a href="gonglue3.html" class="news-title">[攻略] 单人副本-天帝宝库</a></li>
                        <li class="li04"><span class="news-date">[06-01]</span><a href="gonglue4.html" class="news-title">[攻略] 单人副本-诛仙塔</a></li>
                        <li class="li05"><span class="news-date">[06-01]</span><a href="gonglue5.html" class="news-title">[攻略] 多人副本-东海流波</a></li>
                    </ul>
                </div>
                
            </div>
            <ul class="xslbkuang">
            	<li><a href="#"><img src="./html/101/images/fenzu1.jpg" width="320" height="132"></a></li>
                <li><a href="#"><img src="./html/101/images/fenzu2.jpg" width="320" height="132"></a></li>
                <li style="margin-right:0"><a href="#"><img src="./html/101/images/fenzu3.jpg" width="320" height="132"></a></li>
            </ul>
            <!--攻略截图start-->
            <div class="gljtkuang">
            	<div class="yxgl">
                	<div class="yxglhead pos-rel">游戏攻略<a href="gonglue.html" target="_self" class="more01">查看更多+</a></div>
                    <ul class="gonglue_ul">
                        <li class="gl_li">
                        	<ul>
                            	<li><a href="gonglue1.html">《青云幻剑录》BOSS系统玩法攻略</a></li>
                                <li style="margin-right:0"><a href="gonglue2.html">《青云幻剑录》单人副本-守护仙灵</a></li>
                            </ul>
                        </li>
                        <li class="gl_li">
                        	<ul>
                            	<li><a href="gonglue3.html">《青云幻剑录》单人副本-天帝宝库</a></li>
                                <li style="margin-right:0"><a href="gonglue4.html">《青云幻剑录》单人副本-诛仙塔</a></li>
                            </ul>
                        </li>
                        <li class="gl_li">
                        	<ul>
                            	<li><a href="gonglue5.html">《青云幻剑录》多人副本-东海流波</a></li>
                                <li style="margin-right:0"><a href="gonglue6.html">《青云幻剑录》多人副本-幽冥沼泽</a></li>
                            </ul>
                        </li>
                        <li class="gl_li">
                        	<ul>
                            	<li><a href="gonglue7.html">《青云幻剑录》副本-九幽魔窟</a></li>
                                <li style="margin-right:0"><a href="gonglue8.html">《青云幻剑录》心魔幻境心得</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
                <div class="yxjietu">
                	<div class="yxjietuhead pos-rel">游戏截图<a href="#" target="_self" class="more01">查看更多+</a></div>
                    <ul class="jietu_ul">
                        <li><a href="#"><img src="./html/101/images/jietu01.jpg" width="223" height="149" /></a></li>
                        <li style="margin-right:0"><a href="#"><img src="./html/101/images/jietu02.jpg" width="223" height="149" /></a></li>
                    </ul>
                </div>
            </div>

            <!-- 底部 -->
            <div class="jy-floot">
                <div class="jy-suggest" style="text-align:center;">
                    <p>海南创娱网络科技有限公司</p>
                    <p>海南省老城高新技术产业示范区海南生态软件园</p>
                    <p>Copyright 2015 - 2018 Chuangyu Games All Rights Reserved. | 琼ICP备17001029号-1 号 </p>
                </div>
            </div>
            <!-- 底部 -->
        </div>
    </div>
</div>

<script type="text/javascript" src="./html/101/js/jcarousellite_1.0.1.js"></script>
<script type="text/javascript">
$(function() {

	$( '.yxxzbtnwrap li' ).on( 'mouseenter', function(){
        $( this ).addClass( 'show' );
    } ).on( 'mouseleave', function(){
        $( this ).removeClass( 'show' );
    });
	
	$( '.mt_more' ).on( 'mouseenter', function(){
        $( this ).addClass( 'show' );
    } ).on( 'mouseleave', function(){
        $( this ).removeClass( 'show' );
    });
	
	/*各个文章列表切换*/
	var news_nav = $('.news-nav li'),
		news_con = $('.news-list'),
		current = 0,
		news_more = $('.news-more');

	news_nav.mouseover(function(){
		current = news_nav.index(this);
		news_nav.removeClass('on').eq(current).addClass('on');
		news_con.hide().eq(current).show();

		var default_game_key = "";
		var id = $(this).attr('data-newsid');
		news_more.attr('href',default_game_key + id + "/");
	});
	
	var mediasum=$('.scroll-media li').length;
	if(mediasum > 1){
		$(".scroll-media").jCarouselLite({auto:2000,speed:1000,visible:1,vertical:true});
	}
	
});
</script>
<script type="text/javascript">
$(function() {
	/******焦点图******/
	var sWidth = $("#focus").width(); //获取焦点图的宽度（显示面积）
	var len = $("#focus ul li").length; //获取焦点图个数
	var index = 0;
	var picTimer;
	
	//以下代码添加数字按钮和按钮后的半透明条，还有上一页、下一页两个按钮
	var btn = "<div class='btnBg'></div><div class='btn'>";
	for(var i=0; i < len; i++) {
		btn += "<span></span>";
	}
	//btn += "</div><div class='preNext pre'></div><div class='preNext next'></div>";
	$("#focus").append(btn);
	$("#focus .btnBg").css("opacity",0.5);
	//$("#focus .btn span").css("backgroundColor","#1ecbfd");

	//为小按钮添加鼠标滑入事件，以显示相应的内容
	$("#focus .btn span").css("opacity",0.4).mouseenter(function() {
		index = $("#focus .btn span").index(this);
		showPics(index);
	}).eq(0).trigger("mouseenter");

	//本例为左右滚动，即所有li元素都是在同一排向左浮动，所以这里需要计算出外围ul元素的宽度
	$("#focus ul").css("width",sWidth * (len));
	
	//鼠标滑上焦点图时停止自动播放，滑出时开始自动播放
	$("#focus").hover(function() {
		clearInterval(picTimer);
	},function() {
		picTimer = setInterval(function() {
			showPics(index);
			index++;
			if(index == len) {index = 0;}
		},2000); //此4000代表自动播放的间隔，单位：毫秒
	}).trigger("mouseleave");
	
	//显示图片函数，根据接收的index值显示相应的内容
	function showPics(index) { //普通切换
		var nowLeft = -index*sWidth; //根据index值计算ul元素的left值
		$("#focus ul").stop(true,false).animate({"left":nowLeft},300); //通过animate()调整ul元素滚动到计算出的position
		$("#focus .btn span").removeClass("on").eq(index).addClass("on"); //为当前的按钮切换到选中的效果
		$("#focus .btn span").stop(true,false).animate({"opacity":"0.4"},300).eq(index).stop(true,false).animate({"opacity":"1"},300); //为当前的按钮切换到选中的效果
	}
});

</script>
</body>
</html>
