<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户封禁</title>
    <link href="__CSS__/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/page-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/combo.select.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/bootstrap/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__JS__/bootstrap/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="__JS__/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="__JS__/jquery.combo.select.js"></script>
    <script type="text/javascript" src="__JS__/bui.js"></script>
    <script type="text/javascript" src="__JS__/config.js"></script>
</head>
<literal>
    <style>
        tfoot .bui-grid-cell-text{text-align: center;}
        .btn-default {height:25px;}
        .filter-option {margin-top: -4px;}
        .bs-searchbox .form-control {height:25px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    </style>
</literal>
<body>

<!-- 搜索区 -->
<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span48">
            <div class="row">
                <div class="control-group span8">
                    <label class="control-label">用户标识符</label>
                    <div class="controls">
                        <input type="text" class="control-text" name="userCode" id='userCode'>
                    </div>
                </div>

                <div class="control-group span8">
                    <label class="control-label">游戏名称：</label>
                    <div class="controls">
                        <select name="game_id" id="game_id"></select>
                    </div>
                </div>

                <div class="control-group span8">
                    <label class="control-label" style="width: 60px;">母包：</label>
                    <div class="controls" id="p_agent_contain">
                        <select id="agent_p" name="agent_p[]" class="selectpicker" multiple data-live-search="true" data-actions-box="true"></select>
                    </div>
                </div>

                <div class="control-group span8">
                    <label class="control-label" style="width: 60px;">子包：</label>
                    <div class="controls" id="agent_contain">
                        <select id="agent" name="agent[]" class="selectpicker" multiple data-live-search="true" data-actions-box="true"></select>
                    </div>
                </div>

                <div class="control-group span8">
                    <label class="control-label">状态</label>
                    <div class="controls">
                        <select name="status" id="status">
                            <option value="all">全部</option>
                            <option value="0">解封</option>
                            <option value="1">封号</option>
                            <option value="2">异常</option>
                        </select>
                    </div>
                </div>

                <div class="control-group span5">
                    <label class="control-label" style="width: 60px;">日期：</label>
                    <div class="controls">
                        <input type="text" class="calendar" id="startDate" name="date" value="{:date('Y-m-d')}">
                    </div>
                </div>
                <div class="control-group span5">
                    <div class="controls">
                        <button  type="button" id="btnSearch" class="button button-primary">
                            搜索
                        </button>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <div class="search-grid-container span25">
        <div id="grid"></div>
    </div>

</div>

<!-- 弹窗 -->
<div id="content" class="hide">

</div>

<script type="text/javascript">
    BUI.use('common/page');
</script>

<script type="text/javascript">
    $(function () {
        $('.selectpicker').selectpicker({
            selectAllText: '全选',
            deselectAllText: '不选',
            liveSearchPlaceholder: '搜索关键字',
            noneSelectedText: '',
            multipleSeparator: ',',
            liveSearch: true,
            actionsBox: true
        });
        gameLists();
        $('#game_id').change(function() {
            var game_id = $(this).val();
            getPAgentByGame(game_id);
        });

        $('#agent_p').change(function() {
            getAgentByGame();
        });

    });

    //获取母包渠道号
    function getPAgentByGame(game_id){
        var _html = '';
        $.post("{:U('Ajax/getAgent')}",{game_id:game_id},function(ret){
            _html += "<option>--请选择母包--</option>";
            var ret = eval('('+ret+')');
            $(ret).each(function(i,v){
                _html += "<option value="+v.agent+">"+v.agentAll+"</option>";
            });
            $('#agent_p').html(_html);
            $('#agent_p').selectpicker('refresh');
            $('#agent_p').selectpicker('val', '--请选择母包--');
        });
    }

    //获取子包渠道号
    function getAgentByGame() {
        var agent = $("#agent_p").val();
        if (agent != "--请选择渠道号--" && agent != null) {
            var _html = '';
            $.post("{:U('Ajax/getChildAgentByAgent')}", {agent:agent}, function(ret){
                _html += "<option>--请选择子包--</option>";
                var ret = eval('('+ret+')');
                $(ret).each(function(i,v){
                    _html += "<option value="+v.agent+">"+v.agentAll+"</option>";
                });
                $('#agent').html(_html);
                $('#agent').selectpicker('refresh');
                $('#agent').selectpicker('val', '--请选择子包--');
            });
        }
    }

    //获取游戏
    function gameLists(){
        var _html = '';
        $.post("{:U('Ajax/getGameList')}",{all:1},function(ret){
            var ret = eval('('+ret+')');
            $(ret).each(function(i,v){
                _html += "<option value="+v.id+">"+v.gameName+"</option>";
            });
            $('#game_id').html(_html);
            $('#game_id').comboSelect();
        });
    }

    BUI.use('common/search',function (Search) {
        var editing = new BUI.Grid.Plugins.DialogEditing({
            contentId : 'content', //设置隐藏的Dialog内容
            autoSave : true, //添加数据或者修改数据时，自动保存
            triggerCls : 'btn-edit'
        }),
        columns = [
            {title:'时间',dataIndex:'createTime',width:150,elCls:'center'},
            {title:'用户标识符',dataIndex:'userCode',width:250,elCls:'center'},
            {title:'用户名',dataIndex:'userName',width:250,elCls:'center'},
            {title:'渠道包',dataIndex:'agentName',width:250,elCls:'center'},
            {title:'至今充值',dataIndex:'pay',width:150,elCls:'center'},
            {title:'状态',dataIndex:'status',width:150,elCls:'center'},
            {title:'创建人',dataIndex:'creater',width:150,elCls:'center'},
            {title:'详情',dataIndex:'remark',width:650,elCls:'center'},
        ],
        store = Search.createStore('{:U("Assist/banLog")}',{
            proxy : {
                save : { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                },
                method : 'POST'
            },
            autoSync : true //保存数据后，自动更新
        }),
        gridCfg = Search.createGridCfg(columns,{
            plugins : [] // 插件形式引入多选表格
        }),
        search = new Search({
            store : store,
            gridCfg : gridCfg
        }),
        grid = search.get('grid');
    });
</script>
<include file="Public/loading" />

</body>
</html>
