<body>
<style type="text/css">
    input{border-radius: 4px;}
</style>
<div class="demo-content">
    <!-- 此节点内部的内容会在弹出框内显示,默认隐藏此节点-->
    <form id="J_Form" class="form-horizontal" method="post" action="{:U('Website/slideTempAdd')}">

        <input type="hidden" name="id" value="{$info.id}" />
        <div class="row">
            <div class="control-group span8">
                <label class="control-label">幻灯片模板名称：</label>
                <div class="controls">
                    <input name="templateName"  type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="control-group span25">
                <label class="control-label">幻灯片模板内容：</label>
                <div class="controls">
                    <textarea name="templateContent" id="templateContent" data-rules="{required:true}" style="width:500px;height:150px;"></textarea>
                </div>
            </div>
        </div>

    </form>
</div>

<!-- script start -->
<script type="text/javascript">
    BUI.use(['bui/overlay','bui/form'],function(Overlay,Form){

        var form = new Form.HForm({
            srcNode : '#J_Form'
        }).render();

        var dialog = new Overlay.Dialog({
            title:'幻灯片模板添加',
            width:850,
            height:280,
            //配置DOM容器的编号
            contentId:'content',
            success:function () {
                $('#J_Form').submit();
            }
        });
        dialog.show();
    });
</script>
<!-- script end -->
</div>
</body>
</html>
