<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>老用户统计</title>
    <link rel="stylesheet" href="__CSS__/bootstrap/bootstrap.min.css">
    <link href="__CSS__/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/page-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/combo.select.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/bootstrap/bootstrap-select.css" rel="stylesheet">

    <script src="__JS__/bootstrap/jquery.min.js"></script>
    <script src="__JS__/bootstrap/bootstrap.min.js"></script>
    <script src="__JS__/bootstrap/bootstrap-select.js"></script>

    <script type="text/javascript" src="__JS__/jquery.combo.select.js"></script>
    <script type="text/javascript" src="__JS__/bui.js"></script>
    <script type="text/javascript" src="__JS__/config.js"></script>
</head>
<literal>
    <style>
        tfoot .bui-grid-cell-text{text-align: center;}
        .btn-default {height:25px;}
        .filter-option {margin-top: -4px;}
        .bs-searchbox .form-control {height:25px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    </style>
</literal>
<body>
<!-- 搜索区 -->
<div class="container">
    <div class="row">
        <form id="searchForm" method="post" class="form-horizontal span48">
            <div class="row">
                <div class="control-group span6">
                    <label class="control-label" style="width: 60px;">游戏名称：</label>
                    <div class="controls">
                        <select name="game_id" id="game_id"></select>
                    </div>
                </div>

                <if condition="session('admin.role_id') neq 16">
                    <div class="control-group span8">
                        <label class="control-label" style="width: 60px;">母包：</label>
                        <div class="controls" id="p_agent_contain">
                            <select id="agent_p" name="agent_p[]" class="selectpicker" multiple data-live-search="true" data-actions-box="true">

                            </select>
                        </div>
                    </div>
                </if>

                <if condition="session('admin.role_id') neq 16">
                    <div class="control-group span8">
                        <label class="control-label" style="width: 60px;">子包：</label>
                        <div class="controls" id="agent_contain">
                            <select id="agent" name="agent[]" class="selectpicker" multiple data-live-search="true" data-actions-box="true">

                            </select>
                        </div>
                    </div>
                </if>

                <div class="control-group span8">
                    <label class="control-label" style="width: 60px;">区服：</label>
                    <div class="controls">
                        <select name="serverId" id="serverId" class="selectpicker" data-live-search="true" data-actions-box="true"></select>
                    </div>
                </div>

                <div class="control-group span7">
                    <label class="control-label" style="width: 60px;">日期：</label>
                    <div class="controls">
                        <input type="text" class="calendar" name="startDate" id="startDate" value="{:date('Y-m-d')}"><span> - </span><input type="text" class="calendar" name="endDate" id="endDate" value="{:date('Y-m-d')}">
                    </div>
                </div>

                <div class="control-group span5">
                    <div class="controls">
                        <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div style="color:red;margin-left:10px;">PS：注册、充值数据每十五分钟更新一次</div>
    <div class="search-grid-container span25">
        <div id="grid"></div>
    </div>
</div>

<!-- 弹窗 -->
<div id="content" class="hide">

</div>

<script type="text/javascript">
    BUI.use('common/page');
</script>

<script type="text/javascript">
    $(function () {
        $('.selectpicker').selectpicker({
            selectAllText: '全选',
            deselectAllText: '不选',
            liveSearchPlaceholder: '搜索关键字',
            noneSelectedText: '',
            multipleSeparator: ',',
            liveSearch: true,
            actionsBox: true
        });
        gameLists();
        $('#game_id').change(function() {
            var game_id = $(this).val();
            getPAgentByGame(game_id);
            serverList();
        });

        $('#agent_p').change(function() {
            getAgentByGame();
            serverList();
        });

    });

    //获取母包渠道号
    function getPAgentByGame(game_id){
        var _html = '';
        $.post("{:U('Ajax/getAgent')}",{game_id:game_id},function(ret){
            _html += "<option>--请选择母包--</option>";
            var ret = eval('('+ret+')');
            $(ret).each(function(i,v){
                _html += "<option value="+v.agent+">"+v.agentAll+"</option>";
            });
            $('#agent_p').html(_html);
            $('#agent_p').selectpicker('refresh');
            $('#agent_p').selectpicker('val', '--请选择母包--');
        });
    }

    //获取子包渠道号
    function getAgentByGame() {
        var agent = $("#agent_p").val();
        if (agent != "--请选择渠道号--" && agent != null) {
            var _html = '';
            $.post("{:U('Ajax/getChildAgentByAgent')}", {agent:agent}, function(ret){
                _html += "<option>--请选择子包--</option>";
                var ret = eval('('+ret+')');
                $(ret).each(function(i,v){
                    _html += "<option value="+v.agent+">"+v.agentAll+"</option>";
                });
                $('#agent').html(_html);
                $('#agent').selectpicker('refresh');
                $('#agent').selectpicker('val', '--请选择子包--');
            });
        }
    }

    //获取游戏
    function gameLists(){
        var _html = '';
        $.post("{:U('Ajax/getGameList')}",{all:1},function(ret){
            var ret = eval('('+ret+')');
            $(ret).each(function(i,v){
                _html += "<option value="+v.id+">"+v.gameName+"</option>";
            });
            $('#game_id').html(_html);
            $('#game_id').comboSelect();
        });
    }

    /**
     * 获取区服列表
     * @return {[type]} [description]
     */
     function serverList(){
      var _html = '';
      var game_id = $("#game_id").val();
      var agent = $("#agent_p").val();
      $.post("{:U('Ajax/getServerList')}",{game_id:game_id,agent:agent},function(ret){
          _html += "<option value='0'>--全部--</option>";
          var ret = eval('('+ret+')');
          $(ret).each(function(i,v){
              _html += "<option value="+v.serverId+">"+v.serverName+'['+v.serverId+']'+"</option>";
          });
          $('#serverId').html(_html);
          $('#serverId').selectpicker('refresh');
      })
     }

    BUI.use('common/search',function (Search) {
        var editing = new BUI.Grid.Plugins.DialogEditing({
            contentId : 'content', //设置隐藏的Dialog内容
            autoSave : true, //添加数据或者修改数据时，自动保存
            triggerCls : 'btn-edit'
        }),
        Summary = new BUI.Grid.Plugins.Summary(),
        columns = [
            {title:'日期',dataIndex:'day',width:100,elCls:'center'},
            {title:'游戏名称',dataIndex:'gameName',width:200,elCls:'center'},
            {title:'老用户登陆人数',dataIndex:'oldLogin',width:150,elCls:'center',summary: true},
            {title:'老用户充值人数',dataIndex:'oldPay',width:150,elCls:'center',summary: true},
            {title:'老用户充值金额',dataIndex:'oldPayAmount',width:150,elCls:'center',summary: true},
            {title:'老用户活跃付费率',dataIndex:'oldPayRatio',width:150,elCls:'center',summary: true},
            {title:'老用户ARPU',dataIndex:'oldARPU',width:150,elCls:'center',summary: true},
            {title:'老用户ARPPU值',dataIndex:'oldARPPU',width:150,elCls:'center',summary: true}
        ],
        store = Search.createStore('{:U("Data/oldUserTable")}', {
            proxy: {
                save: {
                    //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                },
                method: 'POST'
            },
            pageSize : 9999,
            autoSync: true //保存数据后，自动更新
        }),
        gridCfg = Search.createGridCfg(columns, {
            forceFit : true,
            plugins: [editing, Summary, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
        }),
        search = new Search({
            store: store,
            gridCfg: gridCfg
        }),
        grid = search.get('grid');
    });
</script>
<include file="Public/loading" />
</body>
</html>
