<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>支付类型占比</title>
    <link rel="stylesheet" href="__CSS__/bootstrap/bootstrap.min.css">
    <link href="__CSS__/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/page-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/combo.select.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__CSS__/bootstrap/bootstrap-select.css">
    
    <script src="__JS__/bootstrap/jquery.min.js"></script>
    <script src="__JS__/bootstrap/bootstrap.min.js"></script>
    <script src="__JS__/bootstrap/bootstrap-select.js"></script>

    <script type="text/javascript" src="__JS__/jquery.combo.select.js"></script>
    <script type="text/javascript" src="__JS__/bui.js"></script>
    <script type="text/javascript" src="__JS__/config.js"></script>
    <script src="__JS__/echart/echarts.min.js" type="text/javascript"></script>

</head>
<literal>
<style>
  tfoot .bui-grid-cell-text{text-align: center;}
  .btn-default {height:25px;}
  .filter-option {margin-top: -4px;}
  .bs-searchbox .form-control {height:25px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
</style>
</literal>
<body>
<!-- 搜索区 -->
<div class="container">
    <div class="row">
        <form id="searchForm" method="post" class="form-horizontal span48">
            <div class="row">

                <div class="control-group span8">
                    <label class="control-label" style="width: 60px;">下单日期：</label>
                    <div class="controls">
                        <input type="text" class="calendar" name="startDate" id="startDate" value="{:date('Y-m-d')}"><span> - </span><input type="text" class="calendar" name="endDate" id="endDate" value="{:date('Y-m-d')}">
                    </div>
                </div>

                <div class="control-group span5">
                    <div class="controls">
                        <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                    </div>

                    <div class="controls">
                        <button class="button button-warning" id="echart" type="button">
                            图表
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div style="color:red;margin-left:10px;">PS：查询日期跨度不能大于7天</div>
    <div class="search-grid-container span25">
        <div id="grid"></div>
    </div>
    <!-- 图表 -->
    <div class="search-grid-container" id="chartMain" style="width: 100%;height:700px;">
        <div id="chart" style="display:none; width: 100%;height:100%;">
        </div>
    </div>

</div>

<!-- 弹窗 -->
<div id="content" class="hide">

</div>

<script type="text/javascript">
    BUI.use('common/page');
</script>

<script type="text/javascript">
$('#btnSearch').click(function(){
            $('#grid').show();
            $('#chart').hide();
        });
        $('#echart').click(function(){
            var width = $('#chartMain').width();
            var height = $('#chartMain').height();
            $('#chart').css({width:width,height:height});

            $('.mark').show();
            $('.spinner').show();
            //提交表单获取数据
            var _data = $('#searchForm').serialize();
            $.post("{:U('Data/payTypeRate')}",_data+'&chart=1',function(ret){
                
                var key = ret.info.key;
                var dayTime = ret.info.dayTime;
                var _data = ret.info.data;
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('chart'));

                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '支付方式占比',
                        subtext: ''
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: key
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {
                                show: true
                            },
                            dataView: {
                                show: true,
                                readOnly: false
                            },
                            magicType: {
                                show: true,
                                type: ['line', 'bar', 'stack', 'tiled']
                            },
                            restore: {
                                show: true
                            },
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    calculable: true,
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel: {  
                              show: true,  
                              formatter: '{value} %'  
                            },
                        }
                    ],
                    xAxis: [{
                        type: 'category',
                        boundaryGap: false,
                        data: dayTime
                    }],
  
                    series: _data
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                $('#grid').hide();
                $('.mark').hide();
                $('.spinner').hide();
                $('#chart').show();
            });
            
        });

    BUI.use('common/search',function (Search) {
    
    Summary = new BUI.Grid.Plugins.Summary(),
    editing = new BUI.Grid.Plugins.DialogEditing({
        contentId : 'content', //设置隐藏的Dialog内容
        autoSave : true, //添加数据或者修改数据时，自动保存
        triggerCls : 'btn-edit'
    }),
    columns = [
        {title:'日期',dataIndex:'dayTime',width:100,elCls:'center'},
        {title:'总订单数',dataIndex:'orderNum',width:100,elCls:'center',summary: true},
        {title:'苹果订单占比',dataIndex:'apple',width:100,elCls:'center',summary: true},
        {title:'支付宝订单占比',dataIndex:'zhifubao',width:100,elCls:'center'},
        {title:'微信订单占比',dataIndex:'weixin',width:100,elCls:'center'},
        {title:'银联订单占比',dataIndex:'yinlian',width:100,elCls:'center'},
    ],
    store = Search.createStore('{:U("Data/payTypeRate")}', {
            proxy: {
                save: { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                },
                method: 'POST'
            },
            autoSync: true //保存数据后，自动更新
        }),
        gridCfg = Search.createGridCfg(columns, {
            plugins: [editing,BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
        });

    var search = new Search({
            store: store,
            gridCfg: gridCfg
        }),
        grid = search.get('grid');
    });
</script>
<include file="Public/loading" />
</body>
</html>
