<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$info.name}</title>
	<link rel="stylesheet" href="{$static_url}/css/common.css">
	<link rel="stylesheet" href="{$static_url}/css/gameHub.css">
	<script type="text/javascript" src="{$static_url}/js/jquery-1.9.1.min.js"></script>
	<script  type="text/javascript" src="{$static_url}/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="{$static_url}/js/index.js"></script>
</head>
<body>
	<div class="gs-header">
		<!-- 首页导航 start -->
		<div class="gs-topdiv">
			<div class="gs-nav-header pr">
				<!-- LOGO显示 start -->
				<a href="{$website}">
					<div class="gs-logo pa"></div>
				</a>
				<!-- LOGO显示 end -->

				<!-- 首页导航 start -->
				<div class="gs-nav">
					<ul>
						<li><a href="{$website}">
							<p class="gs-nav-zh nav-first">首页</p>
						</a></li>
						<li class="active"><a href="{$website}gamehub/">
							<p class="gs-nav-zh">游戏中心</p>
						</a></li>
						<li><a href="{$website}zixun/">
							<p class="gs-nav-zh">资讯中心</p>
						</a></li>
						<li><a href="{$website}cooperate/">
							<p class="gs-nav-zh">联系合作</p>
						</a></li>
						<li><a href="{$website}recruit/">
							<p class="gs-nav-zh">招贤纳士</p>
						</a></li>
					</ul>
				</div>

				<!-- 游戏列表 -->
			</div>
			<!-- 首页导航 end -->
		</div>
		<!-- 轮播 start -->
		<div class="gsCarousel">
			<div class="gs-game-centent">
				<div class="gs-game-title"></div>
				<div class="gs-game-slide">
					<div class="gs-slide-img pr">
						<ul id="marquee">
							<li><img src="{$static_url}/images/gs-slide-item0.jpg" alt=""></li>
							<li><img src="{$static_url}/images/gs-slide-item1.jpg" alt=""></li>
							<li><img src="{$static_url}/images/gs-slide-item0.jpg" alt=""></li>
							<li><img src="{$static_url}/images/gs-slide-item1.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<!-- <div class="gs-scroll"></div> -->
			</div>
		</div>
		<!-- 轮播 end -->
		
		<!-- 内容部分 start -->
		<div class="gs-gamehub-top"></div>
		<div class="gs-gamehub-centent">
			<div class="gs-gamehub-list">
				<div class="gs-gamehub-img">
					<img src="{$static_url}/images/gs-gamehub-img.png" alt="">
				</div>
				<div class="gs-gamehub-title">
					<div class="gs-gamehub-left">
						<div class="gs-left-hub-title">
							<i></i>
							<cite>校花的贴身高手</cite>
							<span>类型：ARPG</span>
						</div>
						<p>自古以来，世俗界灵气稀薄，历代修真强者达到天阶大圆满便会止步不前。幸运者恰逢千年一度的天阶岛开启，踏足天阶岛者可使修为更进一步，享无尽寿元，不幸者只能在时间长河中慢慢等待死亡。当时间再过千年，天阶岛即将再度开启。不过，想要开启这天阶岛还需凑齐‘金、木、水、火、土、冰、雾’七位传承者，无数修真界的强者开始蠢蠢欲动。</p>
						<p>主角林逸领师命下山，保护故人之女‘楚梦瑶’。却不料因缘际会之下，与七位传承者相识，并建</p>
					</div>
					<div class="gs-gamehub-right">
						<div class="gs-right-hub-img">
							<img src="{$static_url}/images/gs-right-hub-img.png" alt="">
						</div>
						<a href="##" class="gs-hub-loader">免费下载</a>
						<a href="https://game.cmgcwl.cn/xhdtsgs/" class="gs-hub-wedsite">进入官网</a>
					</div>
				</div>
			</div>
			<div class="gs-gamehub-list">
				<div class="gs-gamehub-img">
					<img src="{$static_url}/images/gs-gamehub-img2.jpg" alt="">
				</div>
				<div class="gs-gamehub-title">
					<div class="gs-gamehub-left">
						<div class="gs-left-hub-title">
							<i></i>
							<cite>剑雨江湖</cite>
							<span>类型：ARPG</span>
						</div>
						<p>罗摩遗体横空出世，先是引发了一场江湖的血雨腥风，后又被转轮王所得。转轮王利用罗摩遗体的秘密，参悟出罗摩真经。罗摩真经乃达摩祖师创下的最大神学之一，凡参悟者都有望得道成仙。转轮王为修成正果，又将掀起一场江湖风波。</p>
						<p>届时，江湖怨念再起，被封印的十八大妖随时可能破封而出……</p>
					</div>
					<div class="gs-gamehub-right">
						<div class="gs-right-hub-img">
							<img src="{$static_url}/images/gs-right-hub-img.png" alt="">
						</div>
						<a href="##" class="gs-hub-loader">免费下载</a>
						<a href="https://game.cmgcwl.cn/jyjh/" class="gs-hub-wedsite">进入官网</a>
					</div>
				</div>
			</div>
			<div class="gs-gamehub-list">
				<div class="gs-gamehub-img">
					<img src="{$static_url}/images/gs-gamehub-img1.png" alt="">
				</div>
				<div class="gs-gamehub-title">
					<div class="gs-gamehub-left">
						<div class="gs-left-hub-title">
							<i></i>
							<cite>真龙天子</cite>
							<span>类型：slg</span>
						</div>
						<p>《真龙天子》是一款以三国为背景的战争策略类手机网络游戏，在游戏中玩家将以主公的身份培养不同势力、属性的武将来与自己实力相当的多个对手一争高下，过程中可通过外交的方式来结交盟友，也可拥兵百万、作为枭雄盘踞一方，金戈铁马，群雄并起！强者攻占弱者的领土王城，不断扩大版图与势力，一举称霸天下。</p>
					</div>
					<div class="gs-gamehub-right">
						<div class="gs-right-hub-img">
							<img src="{$static_url}/images/gs-right-hub-img2.jpg" alt="">
						</div>
						<a href="##" class="gs-hub-loader">免费下载</a>
						<a href="https://game.cmgcwl.cn/zltz/" class="gs-hub-wedsite">进入官网</a>
					</div>
				</div>
			</div>
			<div class="gs-gamehub-over gs-gamehub-list pr">
				<a href="##">+</a>
			</div>
		</div>
		<!-- 内容部分 end -->

		<!-- 底部 start -->
		<div class="gs-foot">
			<div class="gs-foot-coud">关于我们<span>|</span>商务合作<span>|</span>联系我们<span>|</span>招贤纳士</div>
			<div class="gs-foot-info">
				版权所有：澄迈贵诚网络科技有限责任公司 琼ICP备17004448号 琼网文：琼网文〔2017〕10488-439号<br>
				增值电信业务经营许可证：琼B2-20170197 <br>
				地址：海南省老城高新技术产业示范区海南生态软件园A09幢二层201室 <br>
				电话：020-87085703 邮箱：chenjiale@17okgame.com <br>
				12318违法网站内容举报链接：www.jb.ccm.gov.cn 
			</div>
			<div class="gs-foot-img-box">
				<img src="{$static_url}/images/gs-logo.png" alt="">
			</div>
		</div>
		<!-- 底部 end -->
	</div>
</body>
<script type="text/javascript">
	$(function(){
		// $("img.lazy").lazyload();//

		//轮播
		$('#marquee').bxSlider({ 
	      mode:'horizontal', //默认的是水平 
	      displaySlideQty:1,//显示li的个数 
	      infiniteLoop: true,//无限循环
	      moveSlideQty: 4,//移动li的个数 
	      auto: true, 
	      controls: false,//是否隐藏左右按钮 
	      pause: 2000,
	      autoHover: true,
	      autoControls: false,
	      pager:true,
	    }); 
		if(navigator.userAgent.indexOf("MSIE 6.0")>0){   
	        $('.zl-main').css('display','none');
			$('body').html('浏览器版本过低，请升级浏览器，或选用其他浏览器');   
	    }  
	    if(navigator.userAgent.indexOf("MSIE 7.0")>0){  
	        $('.zl-main').css('display','none');
			$('body').html('浏览器版本过低，请升级浏览器，或选用其他浏览器'); 
	    }   
	      if(navigator.userAgent.indexOf("MSIE 8.0")>0 && !window.innerWidth){
	        $('.zl-main').css('display','none');
			$('body').html('浏览器版本过低，请升级浏览器，或选用其他浏览器');  
	    }
	})
</script>
</html>