<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$info.name}</title>
	<link rel="stylesheet" href="{$static_url}/css/common.css">
	<link rel="stylesheet" href="{$static_url}/css/cooperate.css">
	<script type="text/javascript" src="{$static_url}/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{$static_url}/js/index.js?1"></script>
</head>
<body>
	<div class="gs-header">
		<!-- 首页导航 start -->
		<div class="gs-topdiv">
			<div class="gs-nav-header pr">
				<!-- LOGO显示 start -->
				<a href="{$website}">
					<div class="gs-logo pa"></div>
				</a>
				<!-- LOGO显示 end -->

				<!-- 首页导航 start -->
				<div class="gs-nav">
					<ul>
						<li class="active"><a href="{$website}">
							<p class="gs-nav-zh nav-first">首页</p>
						</a></li>
						<li><a href="{$website}gamehub/">
							<p class="gs-nav-zh">游戏中心</p>
						</a></li>
						<li><a href="{$website}zixun/">
							<p class="gs-nav-zh">资讯中心</p>
						</a></li>
						<li><a href="{$website}cooperate/">
							<p class="gs-nav-zh">联系合作</p>
						</a></li>
						<li><a href="{$website}recruit/">
							<p class="gs-nav-zh">招贤纳士</p>
						</a></li>
					</ul>
				</div>

				<!-- 游戏列表 -->
			</div>
			<!-- 首页导航 end -->
		</div>