<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$info.name}</title>
	<link rel="stylesheet" href="{$static_url}/css/common.css">
	<link rel="stylesheet" href="{$static_url}/css/index.css">
	<script type="text/javascript" src="{$static_url}/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{$static_url}/js/jquery.bxslider.js" ></script>
	<script type="text/javascript" src="{$static_url}/js/index.js?1"></script>
</head>
<body>
	<div class="gs-header">
		<!-- 首页导航 start -->
		<div class="gs-mian">
			<div class="gs-topdiv">
				<div class="gs-nav-header pr">
					<!-- LOGO显示 start -->
					<a href="{$website}">
						<div class="gs-logo pa"></div>
					</a>
					<!-- LOGO显示 end -->

					<!-- 首页导航 start -->
					<div class="gs-nav">
						<ul>
							<li class="active"><a href="{$website}">
								<p class="gs-nav-zh nav-first">首页</p>
							</a></li>
							<li><a href="{$website}gamehub/">
								<p class="gs-nav-zh">游戏中心</p>
							</a></li>
							<li><a href="{$website}zixun/">
								<p class="gs-nav-zh">资讯中心</p>
							</a></li>
							<li><a href="{$website}cooperate/">
								<p class="gs-nav-zh">联系合作</p>
							</a></li>
							<li><a href="{$website}recruit/">
								<p class="gs-nav-zh">招贤纳士</p>
							</a></li>
						</ul>
					</div>

					<!-- 游戏列表 -->
				</div>
				<!-- 首页导航 end -->
			</div>
			<!-- 背景轮播 start -->
			<div class="gs_foc">
				<div id="focus">
					<ul class="pb">
						<li><a href="#">
							<img src="{$static_url}/images/game-slide-img1.jpg" alt="">
							<div class="gs-asgBox">
								<div class="gs-code-icon1">
									<img src="{$static_url}/images/gs-code-icon3.png" alt="">
								</div>
								<div class="gs-code-icon2">
									<img src="{$static_url}/images/gs-code-icon2.png" alt="">
								</div>
								<h3>校花的贴身高手</h3>
								<p>自古以来，世俗界灵气稀薄，历代修真强者达到天阶大圆满便会止步不前。幸运者恰逢千年一度的天阶岛开启，踏足天阶岛者可使修为更进一步，享无尽寿元，不幸者只能在时间长河中慢慢等待死亡。</p>
								<p>当时间再过千年，天阶岛即将再度开启</p>
								<button>查看详情</button>
							</div>
						</a></li>
						<li><a href="#">
							<img src="{$static_url}/images/game-slide-img2.jpg" alt="">
							<div class="gs-asgBox">
								<div class="gs-code-icon1">
									<img src="{$static_url}/images/gs-code-icon4.png" alt="">
								</div>
								<div class="gs-code-icon2">
									<img src="{$static_url}/images/gs-right-hub-img2.jpg" alt="">
								</div>
								<h3>真龙天子</h3>
								<p>《真龙天子》是一款以三国为背景的战争策略类手机网络游戏，在游戏中玩家将以主公的身份培养不同势力、属性的武将来与自己实力相当的多个对手一争高下，过程中可通过外交的方式来结交盟友，也可拥兵百万、作为枭雄盘踞一方，金戈铁马，群雄并起！强者攻占弱者的领土王城，不断扩大版图与势力，一举称霸天下。</p>
								<button>查看详情</button>
							</div>
						</a></li>
						<li><a href="#">
							<img src="{$static_url}/images/game-slide-img3.jpg" alt="">
							<div class="gs-asgBox">
								<div class="gs-code-icon1">
									<img src="{$static_url}/images/gs-code-icon5.png" alt="">
								</div>
								<div class="gs-code-icon2">
									<img src="{$static_url}/images/gs-code-icon2.png" alt="">
								</div>
								<h3>剑雨江湖</h3>
								<p>罗摩遗体横空出世，先是引发了一场江湖的血雨腥风，后又被转轮王所得。转轮王利用罗摩遗体的秘密，参悟出罗摩真经。罗摩真经乃达摩祖师创下的最大神学之一，凡参悟者都有望得道成仙。转轮王为修成正果，又将掀起一场江湖风波</p>
								<p>届时，江湖怨念再起，被封印的十八大妖随时可能破封而出……</p>
								<button>查看详情</button>
							</div>
						</a></li>
					</ul>
				</div>
				<div id="btnBg""></div>
			</div>
			<!-- 背景轮播 end -->
			<div class="kg-news pr">
				<div class="kg-ggao fl">
	                <div class="ggao-list fl">
	                    <ul>
	                        <li class="f-cb active">
	                            <img src="{$static_url}/images/kg-ggao-game-logo-1.png" alt="">
	                            <div class="info">
	                                <p class="title">校花的贴身高手</p>
	                                <span class="intro">青春Q萌仙侠手游</span>
	                            </div>
	                            <div class="active-right-bar-1"></div>
	                        </li>
	                        <li class="f-cb">
	                            <img src="{$static_url}/images/kg-ggao-game-logo-2.png" alt="">
	                            <div class="info">
	                                <p class="title">剑雨江湖</p>
	                                <span class="intro">江湖心未了</span>
	                            </div>
	                            <div class="active-right-bar-2 fr"></div>
	                        </li>
	                        <li class="f-cb">
	                            <img src="{$static_url}/images/kg-ggao-game-logo-4.png" alt="">
	                            <div class="info">
	                                <p class="title">真龙天子</p>
	                                <span class="intro">三天成霸业，slg大作</span>
	                            </div>
	                            <div class="active-right-bar-2 fr"></div>
	                        </li>
	                        <li class="f-cb">
	                            <img src="{$static_url}/images/kg-ggao-game-logo-3.png" alt="">
	                            <div class="info">
	                                <p class="title">刀剑萌侠</p>
	                                <span class="intro">Q萌美人华丽对决</span>
	                            </div>
	                            <div class="active-right-bar-2 fr"></div>
	                        </li>
	                    </ul>
	                </div>
	                <div class="ggao-img fr">
	                    <ul>
	                        <li>
	                            <img src="{$static_url}/images/kg-ggao-big-logo-1.png" alt="" class="big-img">
	                        </li>
			                <li>
			                    <img src="{$static_url}/images/kg-ggao-big-logo-2.png" alt="" class="big-img" />
			                </li>
			                <li>
			                    <img src="{$static_url}/images/kg-ggao-big-logo-3.png" alt="" class="big-img" />
			                </li>
			                <li>
			                    <img src="{$static_url}/images/kg-ggao-big-logo-4.png" alt="" class="big-img" />
			                </li>
			            </ul>
			        </div>
			    </div>
			    <div class="kg-news-list fr">
			    	<a href="{$website}zixun/"><div class="kg-list-move"></div></a>
			    	<div class="kg-news-box">
			    		<volist id="vo" name="zixun" offset="0" length='1'>
			    			<li>
			    				<a href="{$vo.link}/{$vo.id}.html">
			    					<div class="kg-list-title">{$vo.title}</div>
			    				</a>
			    			</li>
			    		</volist>
			    		<div class="kg-list-border"></div>
			    		<div class="kg-list-centent">
			    			<ul>
			    				<volist id="vo" name="zixun" offset="1" length='5'>
			    					<li>
			    						<a href="{$vo.link}/{$vo.id}.html" >
			    							<i></i><cite>{$vo.title}</cite><span> [{:date('m/d',$vo['createTime'])}]</span></a>
			    						</a>
			    					</li>
			    				</volist>
			    			</ul>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
		<!-- 首页导航 end -->

		<!-- 游戏中心 start -->
		<div class="gs-hot-game ">
			<div class="gs-hot-game-content">
				<div class="gs-hot-game-title pr">
					<i></i>
					<span>游戏中心</span>
					<cite>/The game center</cite>
				</div>
				<div class="gs-hot-list">
					<ul>
						<li class="clent">
							<div class="gs-hot-img-box">
								<img src="{$static_url}/images/gs-hot-img1.png" alt="">
							</div>
							<h4>《校花的贴身高手-天阶岛》</h4>
							<p>小说正版ip授权手游，与美人相约天阶岛！</p>
							<a href="https://game.cmgcwl.cn/xhdtsgs/">进入官网</a>
						</li>
						<li>
							<div class="gs-hot-img-box">
								<img src="{$static_url}/images/gs-hot-img2.png" alt="">
							</div>
							<h4>《剑雨江湖》</h4>
							<p>《剑雨》电影正版授权手游，决战武林，快意江湖！</p>
							<a href="https://game.cmgcwl.cn/jyjh/">进入官网</a>
						</li>
						<li>
							<div class="gs-hot-img-box">
								<img src="{$static_url}/images/gs-hot-img3.png" alt="">
							</div>
							<h4>《真龙天子》</h4>
							<p>独特小局制，三天成霸业，最新三国slg大作。</p>
							<a href="https://game.cmgcwl.cn/zltz/">进入官网</a>
						</li>
	<!-- 					<li class="clent">
							<div class="gs-hot-img-box">
								<img src="images/gs-hot-img4.png" alt="">
							</div>
							<h4>《校花的贴身高手-天阶岛》</h4>
							<p>小说正版ip授权手游，与美人相约天阶岛！</p>
							<a href="https://game.cmgcwl.cn/xhdtsgs/">进入官网</a>
						</li>
						<li>
							<div class="gs-hot-img-box">
								<img src="images/gs-hot-img5.png" alt="">
							</div>
							<h4>《校花的贴身高手-天阶岛》</h4>
							<p>小说正版ip授权手游，与美人相约天阶岛！</p>
							<a href="https://game.cmgcwl.cn/xhdtsgs/">进入官网</a>
						</li> -->
						<li class="last-gs-game-list clent">
							<div class="gs-hot-img-box">
								<img src="{$static_url}/images/gs-hot-img6.png" alt="">
							</div>
							<h4>新游正在赶来中~</h4>
							<p></p>
							<a href="{$website}">进入官网</a>
						</li>
					</ul>
				</div>
			</div>
<!-- 			<div class="gs-game-over pr">
				<a href="{$website}gameHub/"></a>
			</div> -->
		</div>
		<!-- 游戏中心 end -->
		
		<!-- company start -->
		<div class="gs-company">
			<div class="gs-company-box">
				<div class="gs-profile">
					<div class="gs-company-title">
						<i></i>
						<span>公司简介</span>
						<cite>/Company profile</cite>
					</div>
					<div class="gs-profile-content">
						<div class="gs-company-img-box">
							<img src="{$static_url}/images/gs-profile-img.png" alt="">
						</div>
						<p> 可以游戏是一家专注于手机游戏代理发行与联合运营的游戏公司。自2017年成立以来,一直秉持发行精品手机游戏的宗旨,现已代理发行《剑雨江湖》、《刀剑萌侠》等多款游戏，均受到玩家的追捧与喜爱，取得不小的成果。公司目前正处于高速发展阶段，团队成员近百人，汇聚了业内顶尖的市场商务团队，一流的游戏评测、运营和技术团队，为手机游戏用户提供良好的游戏体验。可以游戏期待您的加盟与参与，把握机会，放眼未来，把握机遇，开创时代！</p>
					</div>
				</div>
				<div class="gs-partners">
					<div class="gs-company-title">
						<i></i>
						<span>合作伙伴</span>
						<cite>/Partners</cite>
					</div>
					<div class="gs-partners-content">
						<ul>
							<li>
								<img src="{$static_url}/images/gs-partners-img1.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img2.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img3.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img4.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img5.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img6.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img7.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img8.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img9.png" alt="">
							</li>
							<li>
								<img src="{$static_url}/images/gs-partners-img.png" alt="">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- 底部 start -->
		<div class="gs-foot">
			<div class="gs-foot-coud">关于我们<span>|</span>商务合作<span>|</span>联系我们<span>|</span>招贤纳士</div>
			<div class="gs-foot-info">
				版权所有：澄迈贵诚网络科技有限责任公司 琼ICP备17004448号 琼网文：琼网文〔2017〕10488-439号<br>
				增值电信业务经营许可证：琼B2-20170197 <br>
				地址：海南省老城高新技术产业示范区海南生态软件园A09幢二层201室 <br>
				电话：020-87085703 邮箱：chenjiale@17okgame.com <br>
				12318违法网站内容举报链接：www.jb.ccm.gov.cn 
			</div>
			<div class="gs-foot-img-box">
				<img src="{$static_url}/images/gs-logo.png" alt="">
			</div>
		</div>
		<!-- 底部 end -->
	</div>
</body>
<script type="text/javascript">
	$(function(){
		// $("img.lazy").lazyload();//
		if(navigator.userAgent.indexOf("MSIE 6.0")>0){   
	        $('.zl-main').css('display','none');
			$('body').html('浏览器版本过低，请升级浏览器，或选用其他浏览器');   
	    }  
	    if(navigator.userAgent.indexOf("MSIE 7.0")>0){  
	        $('.zl-main').css('display','none');
			$('body').html('浏览器版本过低，请升级浏览器，或选用其他浏览器'); 
	    }   
	      if(navigator.userAgent.indexOf("MSIE 8.0")>0 && !window.innerWidth){
	        $('.zl-main').css('display','none');
			$('body').html('浏览器版本过低，请升级浏览器，或选用其他浏览器');  
	    }
	})
</script>
</html>