<body>
  <style type="text/css">
    input{border-radius: 4px;}
  </style>
  <div class="demo-content" style="overflow:auto;height:450px;">
    <!-- 此节点内部的内容会在弹出框内显示,默认隐藏此节点-->
    <form id="J_Form" class="form-horizontal" method="post" action="{:U('Advter/agentEdit')}">
        <input type="hidden" value="agent" name="table"/>
        <input type="hidden" value="{:I('id',0,'trim')}" name="id"/>
        <div class="row">
          <div class="control-group span8">
            <label class="control-label">所属渠道分类：</label>
            <div class="controls">
              <span>{$info.channelName}</span>
            </div>
          </div>
        </div>

        <if condition="$info['channel_id'] gt 1">
            <div class="row">
                <div class="control-group span8">
                    <label class="control-label">渠道版本：</label>
                    <div class="controls">
                        <input type="text" name="channelVer" value="{$info.channelVer}" class="input-normal"/>
                    </div>
                </div>
            </div>
        </if>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">包编号：</label>
            <div class="controls">
              <span>{$info.agent}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">所属渠道商：</label>
            <div class="controls">
              <span>{$info.advteruserName}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">所属代理商：</label>
            <div class="controls">
              <span>{$info.proxyName}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">广告账户：</label>
            <div class="controls">
              <select name="advterAccountId" id="_advterAccountId"></select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">包名称：</label>
            <div class="controls">
              <input type="text" name="agentName" value="{$info.agentName}" class="input-normal"/>
            </div>
          </div>
        </div>

        <div class="row"> 
          <div class="control-group span8">
            <label class="control-label">渠道充值回调地址：</label>
            <div class="controls">
              <input name="agentCallbackUrl" id="agentCallbackUrl" value="{$info.agentCallbackUrl}"  class="input-normal control-text" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">所属主体：</label>
            <div class="controls">
              <select name="mainbody_id" id="mainbody"></select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">推广游戏：</label>
            <div class="controls">
              <select name="game_id" id="game_Id"></select>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="control-group span8">
            <label class="control-label">负责人：</label>
            <div class="controls">
              <select name="principal_id" id="principal_Id"></select>
            </div>
          </div>
        </div> -->

         <div class="row">
            <div class="control-group span8">
                <label class="control-label">游戏类型：</label>
                <div class="controls">
                    <select name="gameType" id='gameType'>
                        <option value="1" <if condition="$info.gameType eq 1">selected</if> >Android</option>
                        <option value="2" <if condition="$info.gameType eq 2">selected</if> >IOS</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" id="appleId_main" <if condition="$info.gameType neq 2">style="display:none;"</if> >
            <div class="control-group span8">
                <label class="control-label">苹果ID：</label>
                <div class="controls">
                    <input type="text" name="appleId" id="appleId" value="{$info.appleId}" />
                </div>
            </div>
        </div>


      <div class="row" id="bundleId_main" <if condition="$info.gameType neq 2">style="display:none;"</if> >
          <div class="control-group span8">
              <label class="control-label">苹果包名：</label>
              <div class="controls">
                  <input type="text" name="bundleId" id="bundleId" value="{$info.bundleId}" />
              </div>
          </div>
      </div>

      <div class="row" id="iosDownUrl_main" <if condition="$info.gameType neq 2">style="display:none;"</if> >
            <div class="control-group span8">
                <label class="control-label">苹果下载链接：</label>
                <div class="controls">
                    <input type="text" name="iosDownUrl" id="iosDownUrl" value="{$info.iosDownUrl}"/>
                </div>
            </div>
      </div>

      <div class="row" id="trialVer_main" <if condition="$info.gameType neq 2">style="display:none;"</if> >
          <div class="control-group span8">
              <label class="control-label">提审版本：</label>
              <div class="controls">
                  <input type="text" name="trialVer" id="trialVer" value="{$info.trialVer}" />
              </div>
          </div>
      </div>
        
        <div class="row">
          <div class="control-group span8">
            <label class="control-label">广告回调切换：</label>
            <div class="controls">
              <select name="advterStaus">
                <option value="0" <if condition="$info.advterStaus eq 0">selected</if> >全部报送</option>
                <option value="1" <if condition="$info.advterStaus eq 1">selected</if> >激活报送</option>
                <option value="2" <if condition="$info.advterStaus eq 2">selected</if> >充值报送</option>
                <option value="3" <if condition="$info.advterStaus eq 3">selected</if> >注册报送</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">渠道状态：</label>
            <div class="controls">
              <select name="status">
                <option value="0" <if condition="$info.status eq 0">selected</if> >开启</option>
                <option value="1" <if condition="$info.status eq 1">selected</if> >关闭</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">登录状态：</label>
            <div class="controls">
              <select name="loginStatus">
                <option value="0" <if condition="$info.loginStatus eq 0">selected</if> >开启</option>
                <option value="1" <if condition="$info.loginStatus eq 1">selected</if> >关闭</option>
                <option value="2" <if condition="$info.loginStatus eq 2">selected</if> >关闭新增</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="control-group span8">
            <label class="control-label">充值状态：</label>
            <div class="controls">
              <select name="payStatus">
                <option value="0" <if condition="$info.payStatus eq 0">selected</if> >开启</option>
                <option value="1" <if condition="$info.payStatus eq 1">selected</if> >关闭</option>
                <option value="2" <if condition="$info.payStatus eq 2">selected</if> >切充值</option>
              </select>
            </div>
          </div>
        </div>
        <notempty name="valArr">
        <volist name="valArr" id="val">
          <div class="row">
            <div class="control-group span8">
              <label class="control-label">{$val.param}：</label>
              <div class="controls">
                  <div><input name="value{$val.num}" value="{$val['val']}" class="input-normal control-text" /></div>
              </div>
            </div>
          </div>
        </volist>
        </notempty>

      </form>
  </div>
 
<!-- script start --> 
<script type="text/javascript">
$(function(){
  //数据加载
  // principal();
  gameList();
  getMainBody();
  getAdvterAccount();

  $('#gameType').change(function(){
    var val = $(this).val();
    if(val == 1){
      $('#bundleId_main').hide();
      $('#appleId_main').hide();
      $('#iosDownUrl_main').hide();
      $('#trialVer_main').hide();
    }else{
      $('#bundleId_main').show();
      $('#appleId_main').show();
      $('#iosDownUrl_main').show();
      $('#trialVer_main').show();
    }
  });

  //获取主体
  function getMainBody(){
      var _html = '';
      $.post("{:U('Ajax/getMainBody')}",'',function(ret){
        var ret = eval('('+ret+')');
        $(ret).each(function(i,v){
            if(v.id == '{$info.mainbody_id}'){
              _html += "<option value="+v.id+" selected>"+v.mainBody+"</option>";
            }else{
              _html += "<option value="+v.id+">"+v.mainBody+"</option>";
            }
        });
        $('#mainbody').html(_html);
        $('#mainbody').comboSelect();
      });
  }

  //获取负责人
  /*function principal(){
    var _html = '';
      $.post("{:U('Ajax/principals')}",'',function(ret){
        var ret = eval('('+ret+')');
        $(ret).each(function(i,v){
          if(v.id == {$info.principal_id}){
            _html += "<option value="+v.id+" selected>"+v.name+"</option>";
          }else{
            _html += "<option value="+v.id+">"+v.name+"</option>";
          }
        });
        $('#principal_Id').html(_html);
        $('#principal_Id').comboSelect();
      });
  }*/

  //获取游戏
  function gameList(){
    var _html = '';
      $.post("{:U('Ajax/getGameList')}",'',function(ret){
        var ret = eval('('+ret+')');
        $(ret).each(function(i,v){
          if(v.id == {$info.game_id}){
            _html += "<option value="+v.id+" selected>"+v.gameName+"</option>";
          }else{
            _html += "<option value="+v.id+">"+v.gameName+"</option>";
          }
        });
        $('#game_Id').html(_html);
        $('#game_Id').comboSelect();
      });
  }


  //获取广告商ID
  function getAdvterAccount(){
      var _html = '';
      $.post("{:U('Ajax/getAdvterAccount')}",{all:1},function(ret){
        var ret = eval('('+ret+')');
        $(ret).each(function(i,v){
            if(v.id == '{$info.advterAccountId}'){
              _html += "<option value="+v.id+" selected>"+v.account+"</option>";
            }else{
              _html += "<option value="+v.id+">"+v.account+"</option>";
            }
        });
        $('#_advterAccountId').html(_html);
        $('#_advterAccountId').comboSelect();
      });
  }
});
BUI.use(['bui/overlay','bui/form'],function(Overlay,Form){

var form = new Form.HForm({
  srcNode : '#J_Form'
}).render();

var dialog = new Overlay.Dialog({
      title:'修改包号信息',
      width:450,
      height:520,
      //配置DOM容器的编号
      contentId:'content',
      success:function () {
        $('#J_Form').submit();
      }
    });
  dialog.show();
});
</script>
<!-- script end -->
  </div>
</body>
</html>
