<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>软件下载</title>
    <link href="__CSS__/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/page-min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__JS__/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="search-grid-container" style="width: 1000px;">
        <p>请下载平台登录软件进行账号登陆</p>
        <a href="http://{:$_SERVER['SERVER_NAME']}/{$exe.address32}">{$exe.name}_32位</a>&nbsp;&nbsp;
        <a href="http://{:$_SERVER['SERVER_NAME']}/{$exe.address64}">{$exe.name}_64位</a>
    </div>
</div>
</body>
</html>