                        {$header}
                        <style>
                            .xz-div{width: 134px;height:107px;float:left;margin-left: 26px;background-size: contain;}
                            .xz-div2{float:left;}
                        </style>
                        <div class="sy-xz-wrap pa">
                            <div class="xz-div" id="QR"></div>
                            <div class="xz-div2">
                                <a href="{$info.iosDownload}" class="sy-ios-a db"></a>
                                <a href="{$info.androidDownload}" class="sy-android-a db"></a>
                            </div>
                        </div>
                        <!-- <div class="sytop_tips pa">
                            <a href="#">
                                新服推荐：火爆新服【公测15服 灵魂宝石】
                            </a>
                        </div> -->
                    </div>
                    <div class="sy-top03">
                        <div class="sy_focnews">
                            <div class="sy_foc fl">
                                {:W('Slide/slideList', array($info['agent'], 13 , 1 , 0))}
                            </div>
                            <div class="sy_news fr">
                                <div class="news">
                                    <a class="more news-more" href="{$website}zixun/" target="_blank" title="更多资讯">
                                        更多
                                    </a>
                                    <ul class="news-nav">
                                        <li class="on" data-newsid="zuixin">
                                            <a class="news-1">
                                                最新
                                            </a>
                                        </li>
                                        <li data-newsid="xinwen">
                                            <a class="news-2">
                                                新闻
                                            </a>
                                        </li>
                                        <li data-newsid="huodong">
                                            <a class="news-3">
                                                公告
                                            </a>
                                        </li>
                                        <li data-newsid="meiti">
                                            <a class="news-4">
                                                活动
                                            </a>
                                        </li>
                                        <li data-newsid="gonglue">
                                            <a class="news-5">
                                                媒体
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="news-list">
                                         <volist id="vo" name="zuixin">
                                            <li>
                                                <span class="news-date">
                                                    [{:date('m-d',$vo['createTime'])}]
                                                </span>
                                                <a class="news-title" href="{$vo.link}/{$vo.id}.html" target="_blank" title="">
                                                    <span class="news-type">
                                                        最新
                                                    </span>
                                                    {$vo.title}
                                                </a>
                                            </li>
                                        </volist>
                                    </ul>
                                    <ul class="news-list hidden">
                                        <volist id="vo" name="xinwen">
                                            <li>
                                                <span class="news-date">
                                                    [{:date('m-d',$vo['createTime'])}]
                                                </span>
                                                <a class="news-title" href="{$vo.link}/{$vo.id}.html" target="_blank" title="">
                                                    <span class="news-type">
                                                        新闻
                                                    </span>
                                                    {$vo.title}
                                                </a>
                                            </li>
                                        </volist>
                                    </ul>
                                    <ul class="news-list hidden">
                                        <volist id="vo" name="gonggao">
                                            <li>
                                                <span class="news-date">
                                                    [{:date('m-d',$vo['createTime'])}]
                                                </span>
                                                <a class="news-title" href="{$vo.link}/{$vo.id}.html" target="_blank" title="">
                                                    <span class="news-type">
                                                        公告
                                                    </span>
                                                    {$vo.title}
                                                </a>
                                            </li>
                                        </volist>
                                    </ul>
                                    <ul class="news-list hidden">
                                        <volist id="vo" name="huodong">
                                            <li>
                                                <span class="news-date">
                                                    [{:date('m-d',$vo['createTime'])}]
                                                </span>
                                                <a class="news-title" href="{$vo.link}/{$vo.id}.html" target="_blank" title="">
                                                    <span class="news-type">
                                                        活动
                                                    </span>
                                                    {$vo.title}
                                                </a>
                                            </li>
                                        </volist>
                                    </ul>
                                    <ul class="news-list hidden">
                                        <volist id="vo" name="meiti">
                                            <li>
                                                <span class="news-date">
                                                    [{:date('m-d',$vo['createTime'])}]
                                                </span>
                                                <a class="news-title" href="{$vo.link}/{$vo.id}.html" target="_blank" title="">
                                                    <span class="news-type">
                                                        媒体
                                                    </span>
                                                    {$vo.title}
                                                </a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--职业展示start-->
                        <div class="zyzs_div ">
                            <div class="sphead_div pr">
                                职业介绍
                            </div>
                            <div class="ziliao">
                                {:W('Slide/slideList', array($info['agent'], 13 , 1, 1))}
                            </div>
                        </div>
                        <!--职业展示end-->
                       
                        <!--视频壁纸start-->
                        <div class="spbz_div">
                            <div class="sphead_div pr">
                                游戏截图
                            </div>
                            <div class="spbz_slide">
                                {:W('Slide/slideList', array($info['agent'], 13 , 1, 2))}
                            </div>
                        </div>
                        <!--视频壁纸end-->
                        <!--客服媒体友情链接start-->
                        <!-- <div class="btwrap_div">
                            <div class="kfdiv_wrap fl">
                                <div class="kfhead_div pr">
                                    <div class="kfhead_div01">
                                        联系客服
                                    </div>
                                </div>
                                <div class="kf_con">
                                    客服QQ：{$info.serviceQQ}
                                </div>
                            </div>
                            <div class="mtdiv_wrap fl">
                                <div class="kfhead_div pr">
                                    <div class="kfhead_div01" style="margin-bottom:10px;">
                                        微信公众号
                                    </div>
                                </div>
                                <div class="kf_con">
                                    微信公众号：{$info.serviceWX}
                                </div>
                            </div>
                        </div> -->
                        <!--客服媒体友情链接end-->
                    </div>
                </div>
            </div>
        </div>
        <!--right侧边栏开始-->
        <div class="side-nav-right" id="side_right" style="_top:650px;background: url({$img_url}{$info.concern}) no-repeat;">
            <div class="r-side-nei pr">
                <a class="rightside_close db pa" href="javascript:;">
                </a>
            </div>
            <div class="r-back">
                <div id="r-wpa"></div>
            </div>
            <style>
                .r-back {
                    position: absolute;
                    bottom: 15px;
                    left: 12px;
                    width: 77px;
                    height: 22px;
                    background: url('{$static_url}/images/button_wpa.jpg') no-repeat;
                }
                #r-wpa {
                    width: 77px;
                    height: 22px;
                    opacity: 0;
                }
            </style>
        </div>
        <div class="side-nav-right-x dn" id="side_right_xiao">
        </div>
        <!--壁纸弹出框start-->
        <div class="rule_up" id="bzpop">
            <p class="up_close">
            </p>
            <div class="up_content">
                <img height="449" id="imgpic" src="" width="802"/>
            </div>
        </div>
        <!--壁纸弹出框end-->

        
<script language="javascript">
   $(document).ready(function(){
    var abbr = '{$info.abbr}';
    var link = '{$url_short}';
    var _data = {width: 107,height: 107,text: link};
    $('#QR').qrcode(_data);
    /*各个文章列表切换*/
    var news_nav = $('.news-nav li'),
        news_con = $('.news-list'),
        current = 0,
        news_more = $('.news-more');

    news_nav.mouseover(function(){
        current = news_nav.index(this);
        news_nav.removeClass('on').eq(current).addClass('on');
        news_con.hide().eq(current).show();

        var id = $(this).attr('data-newsid');
        //news_more.attr('href',default_game_key + id + "/");
        //news_more.attr('href','list.html');
    });
    
    $( '.ziliao' ).on( 'mouseenter', '.zl-list', function(){
        $( this ).addClass( 'current' ).siblings().removeClass( 'current' );
    } );
    
    //视频壁纸幻灯片效果
    $('.slider-ydy').bxSlider({
        slideWidth: 388,
        minSlides: 1,
        maxSlides: 3,
        moveSlides: 1,
        pager:true,
        startSlide: 0,
        slideMargin: 18
    });
    /*
    $('.spbzbtn_a').hover(function() { 
        $(this).siblings('.spbzmask_span').hide(); 
    }, function() { 
        $(this).siblings('.spbzmask_span').show(); 
    });*/
    
    //媒体滚动
    /*imgScroll.rolling({
        name:'mtgd',
        width:'380px',
        height:'38px',
        direction:'top',
        speed:30,
        addcss:true
        });*/
    
    
    /*左侧边收缩展开*/ 
    $('#side_right_xiao').click(function(){
        $('.side-nav-right-x').animate({
            right: '-61'
        },400);
        $('.side-nav-right').animate({
            right: '0',
            opacity: 'show'
        }, 800 );
    });
    $('.rightside_close').click(function(){
        $('.side-nav-right-x').animate({
            right: '0',
            opacity: 'show'
        },400);
        $('.side-nav-right').animate({
            right: '-201',
            opacity: 'show'
        }, 800 );
    });

    //客服QQ交谈
    var arr = [];
    var arrmark= '';
    if(abbr == 'ztfyl') {
        arr = ['1003','1006'];
        arrmark = arr[Math.ceil(Math.random()*2)-1];
    } else if (abbr == 'lsyxzj'){
        arr = ['1004','1007','1008','1009'];
        arrmark = arr[Math.ceil(Math.random()*4)-1];
    } else if (abbr == 'jyjh') {
        arr = ['1003','1006'];
        arrmark = arr[Math.ceil(Math.random()*2)-1];
    } else if (abbr == 'DJMX') {
        arr = ['1004','1007','1008','1009'];
        arrmark = arr[Math.ceil(Math.random()*4)-1];
    }
    BizQQWPA.add({
     aty: '1',
     a: arrmark,
     type: '2', 
     nameAccount: '800180183',
     parent: 'r-wpa',
     title: '欢迎咨询我'
    });
    
    
});
        </script>
        <script type="text/javascript">
            $(function() {
    /******焦点图******/
    var sWidth = $("#focus").width(); //获取焦点图的宽度（显示面积）
    var len = $("#focus ul li").length; //获取焦点图个数
    var index = 0;
    var picTimer;
    
    //以下代码添加数字按钮和按钮后的半透明条，还有上一页、下一页两个按钮
    var btn = "<div class='btnBg'></div><div class='btn'>";
    for(var i=0; i < len; i++) {
        btn += "<span></span>";
    }
    //btn += "</div><div class='preNext pre'></div><div class='preNext next'></div>";
    $("#focus").append(btn);
    $("#focus .btnBg").css("opacity",0.5);
    //$("#focus .btn span").css("backgroundColor","#1ecbfd");

    //为小按钮添加鼠标滑入事件，以显示相应的内容
    $("#focus .btn span").css("opacity",0.4).mouseenter(function() {
        index = $("#focus .btn span").index(this);
        showPics(index);
    }).eq(0).trigger("mouseenter");

    //本例为左右滚动，即所有li元素都是在同一排向左浮动，所以这里需要计算出外围ul元素的宽度
    $("#focus ul").css("width",sWidth * (len));
    
    //鼠标滑上焦点图时停止自动播放，滑出时开始自动播放
    $("#focus").hover(function() {
        clearInterval(picTimer);
    },function() {
        picTimer = setInterval(function() {
            showPics(index);
            index++;
            if(index == len) {index = 0;}
        },2000); //此4000代表自动播放的间隔，单位：毫秒
    }).trigger("mouseleave");
    
    //显示图片函数，根据接收的index值显示相应的内容
    function showPics(index) { //普通切换
        var nowLeft = -index*sWidth; //根据index值计算ul元素的left值
        $("#focus ul").stop(true,false).animate({"left":nowLeft},300); //通过animate()调整ul元素滚动到计算出的position
        $("#focus .btn span").removeClass("on").eq(index).addClass("on"); //为当前的按钮切换到选中的效果
        $("#focus .btn span").stop(true,false).animate({"opacity":"0.4"},300).eq(index).stop(true,false).animate({"opacity":"1"},300); //为当前的按钮切换到选中的效果
    }
    
    
    
});
        </script>
        <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
    </body>
</html>
