<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$info.name}</title>
    <link rel="stylesheet" href="{$static_url}/css/common.css">
    <link rel="stylesheet" href="{$static_url}/css/index.css">
    <script type="text/javascript" src="{$static_url}/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{$static_url}/js/jquery.bxslider.js" ></script>
    <script type="text/javascript" src="{$static_url}/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="{$static_url}/js/index.js" ></script>
</head>
<body>
    <div class="zl-main">
        <div class="zl-context pr"></div>
        
        <div class="zl-margin pr">
        
        <a class="zl-play-btn" href="{$website}"></a>